<!DOCTYPE html>
<html>
	<head>
		 <title>HackerPhobia</title>
		 <link rel="stylesheet" type="text/css" href="/static/css/screen.css" />
		<link href='http://fonts.googleapis.com/css?family=Merriweather:300,700' rel='stylesheet' type='text/css'>
		<script src="/static/js/jquery-2.1.0.min.js"></script>
		<script type=text/javascript>
			$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
		</script>
		<script>
			// Constants
			var POWERUP = "p";
			var VIRUS_SCANNER = "vs";
			var ACCUSATION = "a";
			var WAIT_TIME = 3000;
			var POWER_UP = 0
			var VIRUS_SCANNER = 1
			var ACCUSATION = 2
			
			// Emails
			var emails;
			var openedEmail;
			var users;
			var userHealth;
			var virusScanner;
			var numVisibleViruses;
			var nameHacks = [];
			var idHacks = [];
			var virus = []
			
			// Update variables for next round
			function updateForNextRound(playerNames, playerIDs,  viruses){
				users = [];
				for(var x = 0; x < playerNames.length; x++) {
					users.push({displayName: playerNames[x], userID: playerIDs[x]});
				}
				numVisibleViruses = viruses;
				$('#userToAccuseList').children().remove();
				var id = 0;
				$.each(users, function(_, user) {
					var row = $('<li uid="' + user.userID + '">' + user.displayName + '</li>');
					row.click(function(){
						$('#chooseUserToAccuse').hide();
						sendEmail(ACCUSATION, $(this).attr('uid'));
					});
					$('#userToAccuseList').append(row);
					if(id == 0) {
						$('#p1').text(user.displayName);
						id++;
					}
					else if(id == 1) {
						$('#p2').text(user.displayName);
						id++;
					}
					else if(id == 2) {
						$('#p3').text(user.displayName);
						id++;
					}
					else if(id == 3) {
						$('#p4').text(user.displayName);
					}
				});
				$('#sendEmailDiv').show();
				virusScanner = false;
			}
			
			// Poll the server until you are place into a game
			function pollServerJoinGame(){
			
				$.getJSON($SCRIPT_ROOT + '/has_game_started', {
				}, function(data) {
					// Get if I was put into a game
					if(data.result) { 
						userHealth = data.hp;
						$('#loading').hide();
						$('#waitingOtherPlayerGameStart').hide();
						$('#securityLevel').text(userHealth + '%');
						$('#securityDiv').show();
						updateForNextRound(data.names, data.ids, 0)
					}
					else {
						setTimeout(function(){
							pollServerJoinGame();
						}, WAIT_TIME);
					}
				});
			}
			
			// Send your email to the server
			function sendEmail(emailType, accusedID){
				// Fake method for now
										
				// Hide email div
				$('#sendEmailDiv').hide();
				
				// Show loading div
				$('#loading').show();
				$.getJSON($SCRIPT_ROOT + '/send_email', {
					email_type : emailType,
					accused : accusedID ? accusedID : -1
				}, function(data) {
					// Get if I was put into a game
					if(data.result) { 
						$('#waitingForOtherToEmailDiv').show();
						// Poll server until everyone sends emails
						pollServerForEmailsSent();
					}
					else {
						// Error do something (nothing)
					}
				});
				
			}
			
			// Continuously poll the server to see if everyone has finished
			function pollServerForEmailsSent(){
			
				$.getJSON($SCRIPT_ROOT + '/all_emails_sent', {
				}, function(data) {
					// Get if I was put into a game
					if(!data.result) { 
						$('#loading').hide();
						$('#waitingForOtherToEmailDiv').hide();
						
						emails = {};
						emails[0] = {sender: "Hanne", subject: "Accusation", text: "Jamie is a hacker!", id: 0, type: ACCUSATION};
						emails[1] = {sender: "Jamie", subject: "Virus Scanner", text: "Heres a free virus scanner!", id: 1, type: VIRUS_SCANNER};
						emails[2] = {sender: "Chris", subject: "Powerup", text: "Change your password!", id: 2, type: POWER_UP};
						emails[3] = {sender: "John", subject: "Powerup", text: "Change your password!", id: 3, type: POWER_UP};
						/*for(var x = 0; x < data.emails.length; x++) {
							emails[emails[x].id] = {sender: emails[x].senderName, subject: emails[x].subject, text: emails[x].text, id: emails[x].id, type: emails[x].type};
						}*/
						displayEmails();
					}
					else {
						setTimeout(function(){
							pollServerForEmailsSent();
						}, WAIT_TIME);
					}
				});
			}
			
			// Display a table of all the emails the player recieved
			function displayEmails(){
				// Get the table to display emails
				var emailTable = $('#emailTable');
				// Remove all rows besides first row (header)
				emailTable.children('tr:gt(0)').remove();
				// Add emails to table
				$.each(emails, function(_, email) {
					var row = $('<tr eid="' + email.id + '"><td>' + email.sender + '</td><td>' + email.subject + '</td></tr>');
					row.click(function(){
						openEmail($(this).attr('eid'));
					});
					emailTable.append(row);
				});
				$('#openEmailDiv').show();
			}
			
			// Open an email 
			function openEmail(emailID) {
				// Mark email they opened
				openedEmail = emails[emailID];
				
				// Show email
				$('#openEmailDiv').hide();
				$('#displayOpenedEmailText').text(openedEmail.text);
				$('#displayOpenedEmailDiv').show();
				if(openedEmail.type == ACCUSATION) {
					$('#respondUserAccusation').show();
					$('#btn_submitOpenedEmail').hide();
				}
				else if(openedEmail.type == VIRUS_SCANNER) {
					virusScanner = true;
				}
			}
			
			// Tell the server which email you opened and poll for everyone else to open their emails
			function tellServerOpenedEmail(){
				// Tell the server which email you opened
			
				$('#loading').show();
				$('#displayOpenedEmailDiv').hide();
				$('#waitingForOtherOpenEmailDiv').show();
				// Wait until all users open their email
				pollServerForEmailsOpened();
			}
			
			// Wait until everyone has opened their emails
			function pollServerForEmailsOpened(){
				// TIMEOUT TO PRETEND LIKE WAITING FOR USERS TO FINISH
				setTimeout(function(){
					// TODO: Write method to go to server for emails
					if(true) {
						$('#loading').hide();
						$('#waitingForOtherOpenEmailDiv').hide();
						// TODO: Tell server which email you chose
						endTurn();
					}
					else
						pollServerForEmailsOpened();
				}, 5000);
			}
			
			// Get updates for end of turn
			function endTurn(){	
				// Should be getting this data object from server
				var data = {healAmmount: 20, damageAmmount: 10, isFired: false, alerts : [], hackerCaught: false};
				
				// Show animation for scanning for viruses
				if(virusScanner) {
					scanForViruses(0, data);
					$('#virusScanner').show();
				}
				else 
					healUser(data);
			}
			
			// Show gui scanning for viruses
			function scanForViruses(virusesFound, data){
				setTimeout(function(){
					if(virusesFound < numVisibleViruses) {
						virusesFound++;
						$('#virusesFound').text(virusesFound);
						scanForViruses(virusesFound, data);
					}
					else {
						$('#virusScanner').hide();
						healUser(data)
					}
				}, 1000);
			}
			
			// Heal the user
			function healUser(data){
				if(data.healAmmount > 0) {
					userHealth++;
					data.healAmmount--;
					$('#securityLevel').text(userHealth + '%');
					setTimeout(function(){
						healUser(data);
					}, 100);
				}
				else {
					// move onto damaging
					damageUser(data);
				}
			}
			
			// Damage the user
			function damageUser(data){
				if(data.damageAmmount > 0 && userHealth > 0) {
					userHealth--;
					data.damageAmmount--;
					$('#securityLevel').text(userHealth + '%');
					setTimeout(function(){
						damageUser(data);
					}, 100);
				}else {
					checkUserDied(data);
				}
			}
			
			// Check if the user died
			function checkUserDied(data) {
				if(userHealth <= 0) {
					// Your dead
					$('#computerHacked').show();
				}
				else if(data.isFired) {
					$('#yourFired').show();
				}
				else if(data.hackerCaught) {
					$('#caughtHacker').show();
				}
				else if(data.alerts.length > 0) {
					// Alert user of changes
					displayAlerts(data.alerts);
				}
				else {
					// Move onto next turn
					updateForNextRound(nameHacks, idHacks, virus);
				}
			}
			
			// Display alerts
			function displayAlerts(alerts) {
				$('#alertsList').children().remove();
				for(var x = 0; x < alerts.length; x++) {
					$('#alertsList').append('<li>' + alerts[x].text + '</li>');
				}
				$('#alertsDiv').show();
			}
			
			// Called once document fully loads
			$(function(){
				idHacks.push(0);
				idHacks.push(1);
				idHacks.push(2);
				idHacks.push(3);
				nameHacks.push('Hanne');
				nameHacks.push('Jamie');
				nameHacks.push('Chris');
				nameHacks.push('John');
				$('#btn_JoinGame').click(function(){
					$('#loading').show();
					$('#waitingOtherPlayerGameStart').show();
					$.getJSON($SCRIPT_ROOT + '/connect', {
						displayName: $('#requestedDisplayName').val()
					}, function(data) {
						// Get if I was put into a game
						if(data) { 
							// Success fill player name
							$('#playerName').show();
							$('#playerName').text($('#requestedDisplayName').val());
							$('#joinGameDiv').hide();
							
							// begin polling for game begin
							pollServerJoinGame();
						}
						else {
							// TODO: ERROR REPORTING
						}
					});
				});
				$('#btn_SendPowerUp').click(function(){
					// Send powerup
					sendEmail(POWER_UP);
				});
				$('#btn_SendVirusScanner').click(function(){
					// Send virus scanner
					sendEmail(VIRUS_SCANNER);
				});
				$('#btn_ShowChooseAccusation').click(function(){
					$('#sendEmailDiv').hide();
					$('#chooseUserToAccuse').show();
				});
				$('#btn_submitOpenedEmail').click(function(){
					// Hide opened email div and tell server you opened email
					tellServerOpenedEmail();
				});
				$('#btn_AgreeAccusation').click(function(){
					// Mark accusation accepted
					$('#btn_submitOpenedEmail').click();
					$('#btn_submitOpenedEmail').show();
					$('#respondUserAccusation').hide();
				});
				$('#btn_DeclineAccusation').click(function(){
					// Mark accusation declined
					$('#btn_submitOpenedEmail').click();
					$('#btn_submitOpenedEmail').show();
					$('#respondUserAccusation').hide();
				});
				$('#btn_DoneViewingAlerts').click(function(){
					// Done viewing alerts, next
					$('#alertsDiv').hide();
					updateForNextRound(nameHack, idHack, virus);
				});
			});
		</script>
	</head>
	<body>
			<header>
				<img src="/static/images/logo2.png" />
				<img id ="teamName" src="/static/images/teamName.png" />
			</header>
			<section>
				<div id="leftSection">
					<img src="/static/images/officeDrone.png" />
					<img id="securePointsBar" src="/static/images/securePoint.png" />
					<div id="securityDiv" style="display:none; margin-top:-75px;margin-right:-35px;">
						<span id="securityLevel" style="font-size: 40px; color: white;"></span>
						<div style="display:none;"><span id="playerName" style="display:none;"></span></div>
					</div>
					
				</div>
				<div id="middleSection">
					<img src="/static/images/unknown.png" />
					<h1 id="p1" style="color:white;">???</h1>
					<img src="/static/images/unknown.png" />
					<h1 id="p2" style="color:white;">???</h1>
					<img src="/static/images/unknown.png" />
					<h1 id="p3" style="color:white;">????</h1>
					<img src="/static/images/unknown.png" />
					<h1 id="p4" style="color:white;">????</h1>
				</div>
				<div id="rightSection" style="min-height:635px">
					<div id="sendEmailDiv" style="display:none;">
						<img id="btn_SendPowerUp" class="button" onmouseover="this.src='/static/images/powerUpButtonMouseOver.png'" onmouseout="this.src='/static/images/powerUpButton.png'" src="/static/images/powerUpButton.png" />
						<img id="btn_SendVirusScanner" class="button" onmouseover="this.src='/static/images/virusScannerButtonMouseOver.png'" onmouseout="this.src='/static/images/virusScannerButton.png'" src="/static/images/virusScannerButton.png" />
						<img id="btn_ShowChooseAccusation" class="button" onmouseover="this.src='/static/images/accusationButtonMouseOver.png'" onmouseout="this.src='/static/images/accusationButton.png'" src="/static/images/accusationButton.png" />
					</div>
					<div style="display:none;"><img src="/static/images/open.png" /></div>
					<div style="min-height:525px; background:#DC3522">
						<div id="joinGameDiv" style="padding-top: 250px;">
							<input id="requestedDisplayName" type="text" placeholder="Display Name" />
							<a id="btn_JoinGame"> Join Game </a>
						</div>
						<div id="chooseUserToAccuse" style="display:none;">
							<h2>Who would you like to accuse?</h2>
							<ul id="userToAccuseList"></ul>
						</div>
						<div id="waitingOtherPlayerGameStart" style="display:none;">
							Waiting for other players to start game.
						</div>
						<div id="waitingForOtherToEmailDiv" style="display:none;">
							Waiting for others to email.
						</div>
						<div id="openEmailDiv" style="display:none;">
							<img src="/static/images/choose.png" />
							<table id="emailTable">
								<tr>
									<th>From</th>
									<th>Subject</th>
								</tr>
							</table>
						</div>
						<div id="displayOpenedEmailDiv" style="display:none;">
							<div id="displayOpenedEmailText"></div>
							<div id="respondUserAccusation" style="display:none;">
								<a id="btn_AgreeAccusation">I agree!</a>
								<a id="btn_DeclineAccusation">I don't agree!</a>
							</div>
							<a id="btn_submitOpenedEmail"> Next </a>
						</div>
						<div id="waitingForOtherOpenEmailDiv" style="display:none;">
							Waiting for others to open their emails.
						</div>
						<div id="virusScanner" style="display:none;">
							<span>Scanning for viruses</span>
							<span>Viruses Found:</span>
							<span id="virusesFound"></span>
						</div>
						<div id="computerHacked" style="display:none;">
							<h2> GAME OVER! YOU HAVE BEEN HACKED!</h2>
						</div>
						<div id="yourFired" style="display:none;">
							<h2> GAME OVER! YOU HAVE BEEN ACCUSED OF HACKING AND FIRED! </h2>
						</div>
						<div id="caughtHacker" style="display:none">
							<h2> CONGRATULATIONS! THE HACKER HAS BEEN CAUGHT! </h2>
						</div>
						<div id="alertsDiv" style="display:none;">
							<ul id="alertsList">
							</ul>
							<a id="btn_DoneViewingAlerts"> Next </a>
						</div>
						<div id="loading" style="display:none; background:#DC3522;"> <img src="/static/images/ajax-loader.gif" alt="Loading"></img> </div>
					</div>
					<div style="display:none;">
						<img src="/static/images/smallPowerUpButton.png" onmouseover="this.src ='/static/images/smallPowerUpButtonMouseOver.png'" onmouseout="this.src='/static/images/smallPowerUpButton.png'"/>
						<img src="/static/images/smallPowerUpButton.png" onmouseover="this.src ='/static/images/smallPowerUpButtonMouseOver.png'" onmouseout="this.src='/static/images/smallPowerUpButton.png'"/>
						<img src="/static/images/smallVirusScannerButton.png" onmouseover="this.src='/static/images/smallVirusScannerButtonMouseOver.png'" onmouseout="    this.src='/static/images/smallVirusScannerButton.png'"/>
						<img src="/static/images/smallVirusScannerButton.png" onmouseover="this.src='/static/images/smallVirusScannerButtonMouseOver.png'" onmouseout="    this.src='/static/images/smallVirusScannerButton.png'"/>
						<img src="/static/images/smallAccusationButton.png" onmouseover="this.src='/static/images/smallAccusationButtonMouseOver.png'" onmouseout="this.src='/static/images/smallAccusationButton.png'"/>
					<div>
				</div>
				
			</section>
	</body>
</html>
