<!DOCTYPE html>

<html>
<head>
    <title>HackerPhobia</title>
    <link rel="stylesheet" type="text/css" href="/static/css/screen.css" />
    <link href='http://fonts.googleapis.com/css?family=Merriweather:300,700' rel='stylesheet' type='text/css'>
</head>
<body>
    <header>
        <img src="/static/images/logo2.png" />
        <img id ="teamName" src="/static/images/teamName.png" />
    </header>
    <section>
        <div id="leftSection">
            <img src="/static/images/hacker.png" />
        </div>
        <div id="middleSection">
            <img src="/static/images/unknown.png" />
            <h1>name1</h1>
            <img src="/static/images/unknown.png" />
            <h1>name2</h1>
            <img src="/static/images/unknown.png" />
            <h1>name3</h1>
            <img src="/static/images/unknown.png" />
            <h1>name4</h1>
        </div>
        <div id="rightSection">
            <img src="/static/images/choose.png" />
            <img class="button" onmouseover="this.src='/static/images/powerUpButtonMouseOver.png'" onmouseout="this.src='/static/images/powerUpButton.png'" src="/static/images/powerUpButton.png" />
            <img class="button" onmouseover="this.src='/static/images/virusScannerButtonMouseOver.png'" onmouseout="this.src='/static/images/virusScannerButton.png'" src="/static/images/virusScannerButton.png" />
            <img class="button" onmouseover="this.src='/static/images/accusationButtonMouseOver.png'" onmouseout="this.src='/static/images/accusationButton.png'" src="/static/images/accusationButton.png" />
            <img src="/static/images/attack.png" />
            <img class="button" onmouseover="this.src='/static/images/delayedVirusButtonMouseOver.png'" onmouseout="this.src='/static/images/delayedVirusButton.png'" src="/static/images/delayedVirusButton.png" />
            <img class="button" onmouseover="this.src='/static/images/mailHackButtonMouseOver.png'" onmouseout="this.src='/static/images/mailHackButton.png'" src="/static/images/mailHackButton.png" />
        </div>
    </section>
</body>
</html>
